@import url("https://fonts.googleapis.com/css2?family=B612&display=swap");

/* @import url("https://fonts.googleapis.com/css2?family=B612&family=Exo+2&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Revalia&display=swap");
* {
    box-sizing: border-box;
}

body {
    background-image: url(https://static.independent.co.uk/s3fs-public/thumbnails/image/2020/05/13/17/mars.jpg);
    color: lightgreen;
    font-family: "Revalia", "B612", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
    margin: 10% 2%;
}


/* h1 {} */

.page-title {
    font-size: 60px;
    text-align: center;
    /*   #D3D3D3 */
}

.flex-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main-container {
    padding: 20px;
}

.box-temperature-display{
  flex-wrap: wrap;
}
